<div class="popover">
  <ul class="popover__list">
    <li class="popover__item">
      <button class="popover__btn popover__btn_add-photo" type="button">
        <img class="menu__icon" src="../image/photo.svg" alt="Иконка плюса" />
        Фото или Видео
      </button>
    </li>
    <li class="popover__item">
      <button class="popover__btn popover__btn_add-file" type="button">
        <img class="menu__icon" src="../image/file.svg" alt="Иконка крестика" />
        Файл
      </button>
    </li>
    <li class="popover__item">
      <button class="popover__btn popover__btn_add-location" type="button">
        <img class="menu__icon" src="../image/location.svg" alt="Иконка крестика" />
        Локация
      </button>
    </li>
  </ul>
</div>
