<form class="signup">
  <h1 class="signup__title">Регистрация</h1>
  {{>input/input type="email" helperText="Почта"}}
  {{>input/input type="text" helperText="Логин" minlength="5" maxlength="20"}}
  {{>input/input type="text" helperText="Имя" minlength="1" maxlength="50"}}
  {{>input/input type="text" helperText="Фамилия" minlength="1" maxlength="50"}}
  {{>input/input type="password" helperText="Пароль" minlength="4" maxlength="20"}}
  {{>input/input type="password" helperText="Пароль (ещё раз)" minlength="4" maxlength="20" classes="input_is-auth"}}
  {{>button/button textBtn="Зарегистрироваться"}}
  <a class="signup__link" href="./index.hbs">Войти</a>
</form>
