<form class="signup">
  <h1 class="signup__title">Регистрация</h1>
  {{>input/input text="Почта" type="email"}}
  {{>input/input text="Логин" type="text"}}
  {{>input/input text="Имя" type="text"}}
  {{>input/input text="Фамилия" type="text"}}
  {{>input/input text="Пароль" type="password"}}
  {{>input/input text="Пароль (ещё раз)" type="password"}}
  <button class="signup__btn" type="submit">Зарегистрироваться</button>
  <a class="signup__link" href="./index.hbs">Войти</a>
</form>
