<form class="signin">
  <h1 class="signin__title">Вход</h1>
  {{>input/input text="Логин" type="text"}}
  {{>input/input text="Пароль" type="password"}}
  <button class="signin__btn" type="submit">Авторизоваться</button>
  <a class="signin__link" href="./register.hbs">Нет аккаунта?</a>
</form>
