.btn-profile {
  list-style: none;
  text-align: left;
  border-bottom: 1px solid var(--color-line);
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    transition: 0.3s opacity;
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__link_color_red {
    color: var(--color-link-red);
  }

  &__link_color_blue {
    color: var(--color-secondary);
  }
}
