<ul class="chat">
  <li class="chat__column chat__column_left">
    <a class="chat__link-profile page__link-profile" href="/">
      <span class="chat__link-text">Профиль</span>
      <img class="chat__link-img" src="../image/right-arrow.svg" alt="Перейти к профилю пользователя">
    </a>
    {{> search/search}}
    <ul class="chat__list">
      {{#each data.messages}}
        {{> listItem/listItem this="{{this}}" }}
      {{/each}}
    </ul>
  </li>
  <li class="chat__column">
    <h2 class="chat__title">Выберите чат чтобы отправить сообщение</h2>
  </li>
</ul>
