.chat {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 310px 1fr;

  &__column {
    list-style: none;
    padding: 21px 10px 0;
  }

  &__link-profile {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s opacity;
  }

  &__link-profile:hover {
    opacity: 0.8;
  }

  &__link-text {
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 500;
    line-height: 12px;
    margin-right: 8px;
  }

  &__link-img {
  }
}
