<ul class="chat">
  <li class="chat__column chat__column_left">
    <a class="chat__link-profile page__link-profile" href="/">
      <span class="chat__link-text">Профиль</span>
      <img class="chat__link-img" src="../image/right-arrow.svg" alt="Перейти к профилю пользователя">
    </a>
    {{> search/search}}
    <ul class="chat__list">
      {{#each data.messages}}
        {{> listItem/listItem this="{{this}}"}}
      {{/each}}
    </ul>
  </li>
  <li class="chat__column chat__column-default">
    <h2 class="chat__title">Выберите чат чтобы отправить сообщение</h2>
  </li>
  <li class="chat__column chat__column-dialog chat__column_is-hidden">
    <div class="chat__header">
      <div class="chat__inner">
        {{> avatar/avatar srcAvatar="https://4tololo.ru/sites/default/files/images/20151308202253.jpg?itok=XZXWgPTt" userName="asd"}}
        <p class="chat__user-name">Вадим</p>
      </div>
      {{> burgerMenu/burgerMenu}}
      {{> menu/menu}}
    </div>
  </li>
  {{> popup/popup title="Добавить пользователя" helperText="Логин" textBtn="Добавить" classes="popup_add-user"}}
  {{> popup/popup title="Удалить пользователя" helperText="Логин" textBtn="Удалить" classes="popup_delete-user"}}
</ul>
