.chat {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100%;

  &_is-active {
    background-color: var(--color-light-blue);
  }

  &__column {
    list-style: none;
  }

  &__column_left {
    background-color: var(--color-bg-list);
    border-right: 1px solid var(--color-line);
    overflow-y: auto;
    text-align: right;
  }

  &__column_left::-webkit-scrollbar {
    width: 0;
  }

  &__column-default {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column-dialog {
    margin: 10px 20px;
  }

  &__column_is-hidden {
    display: none;
  }

  &__link-profile {
    text-decoration: none;
    display: inline-block;

    transition: 0.3s opacity;
    margin-top: 21px;
  }

  &__link-profile:hover {
    opacity: 0.7;
  }

  &__link-text {
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 500;
    line-height: 12px;
    margin-right: 8px;
  }

  &__link-img {
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__title {
    margin: 0;
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 500;
    line-height: 12px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-dark-line);
    padding-bottom: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__user-name {
    margin: 0;
    font-size: 13px;
    color: var(--color-primaty);
    font-weight: 600;
    line-height: 13px;
  }

  &__text-date {
    margin: 0;
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    margin: 48px 0 30px;
  }

  &__messages {
    display: flex;
    flex-direction: column;
  }
}
