<nav class="menu">
  <ul class="menu__list">
    <li class="menu__menu-item">
      <button class="menu__btn menu__btn_add-user" type="button">
        <img class="menu__icon" src="../image/plus.svg" alt="Иконка плюса" />
        Добавить пользователя
      </button>
    </li>
    <li class="menu__menu-item">
      <button class="menu__btn menu__btn_delete-user" type="button">
        <img class="menu__icon" src="../image/close.svg" alt="Иконка крестика" />
        Удалить пользователя
      </button>
    </li>
  </ul>
</nav>
