.menu {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 6px var(--shadow);
  color: var(--color-third);
  background-color: var(--color-third);

  &_is-show {
    display: block;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list_element_user {
    top: 75px;
    right: 10px;
  }

  &__list_element_file {
    bottom: 65px;
    left: 321px;
  }

  &__item {
    list-style: none;
    margin-bottom: 16px;
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }
}
