<nav class="menu">
  <ul class="menu__list">
    <li class="menu__menu-item">
      <a href="/" class="menu__btn">
        <img class="menu__icon" src="../image/plus.svg" alt="Иконка плюса" />
        Добавить пользователя
      </a>
    </li>
    <li class="menu__menu-item">
      <a href="/" class="menu__btn">
        <img class="menu__icon" src="../image/close.svg" alt="Иконка крестика" />
        Удалить пользователя
      </a>
    </li>
  </ul>
</nav>
