<ul class="profile">
  <li class="profile__column profile__column_left">
    <a href="./chat.hbs" class="profile__btn" type="submit" aria-label="Вернуться назад">
      <img
        class="profile__icon"
        src="../image/left-arrow.svg"
        alt="Иконка вернуться назад"
      />
    </a>
  </li>
  <li class="profile__column">
    <form class="profile__form">
      <input class="profile__input-file" type="file" id="input__file" />
      <label class="profile__label" for="input__file">
        <img class="profile__img" src="../image/avatar.svg" alt="Аватар по умолчанию" />
        <span class="profile__span">Поменять аватар</span>
      </label>
    </form>
  </li>
</ul>
