:root {
  --ff: "Inter", "Arial", sans-serif;
  --color-primaty: #1e1e1e;
  --color-secondary: #3369f3;
  --color-third: #fff;
  --color-grey: #999;
  --color-light-grey: #efefef;
  --color-error: #d84646;
  --color-success: #4e9a51;
  --color-line: #eaeaea;
  --color-dark-line: #e5e5e5;
  --color-light-blue: #e4edfd;
  --color-bg-list: #fbfbfb;
  --color-menu-btn: #f5f5f5;
  --color-bg-message-me: #f8f8f8;
  --color-bg-message-friend: #e4edfd;
  --color-bg-popap: rgb(0 0 0 / 40%);
  --color-bg-time: #a9a9a9;
  --color-overlay-avatar: rgb(0 0 0 / 50%);
  --color-link-red: #f00;
  --shadow: rgb(0 0 0 / 14%);
}
