:root {
  --ff: "Inter", "Arial", sans-serif;
  --color-primaty: #1e1e1e;
  --color-secondary: #3369f3;
  --color-third: #fff;
  --color-grey: #999;
  --color-error: #ff2f2f;
  --shadow: rgba(0, 0, 0, 0.14);
}
