<li class="list-item">
  <div class="list-item__container">
    <img class="list-item__avatar" src="../image/ellipse.svg" alt="Аватар пользователя" />
    <div class="list-item__inner">
      <p class="list-item__user-name">user name</p>
      <p class="list-item__message">message</p>
    </div>
    <div class="list-item__wrap">
      <p class="list-item__time">20:20</p>
      <p class="list-item__count-message">2</p>
    </div>
  </div>
</li>
