<form class="search-chat page__search-chat">
  <label class="search-chat__label">
    <input class="search-chat__input" type="text" placeholder="Поиск" />
    <img class="search-chat__img" src="../image/search.svg" alt="Поиск по чату" />
  </label>
</form>
