<div class="popup {{classes}}">
  <div class="popup__container">
    <h2 class="popup__title">{{title}}</h2>
    <form class="popup__form" name="form-edit-profile" novalidate>
      {{> input/input type="text" helperText=helperText minlength="5" maxlength="20"}}
      {{> button/button typeBtn="submit" textBtn=textBtn}}
    </form>
  </div>
</div>
