<li class="input-profile">
  <label class="input-profile__label">
    <input class="input-profile__input" type="{{type}}" value="{{value}}" />
    <span class="input-profile__span">{{helperText}}</span>
  </label>
</li>
