<fieldset class="edit-avatar">
  <input class="edit-avatar__input" type="file" id="input__file" />
  <label class="edit-avatar__label" for="input__file">
    <img class="edit-avatar__img" src="../image/avatar.svg" alt="Аватар по умолчанию" />
    <span class="edit-avatar__span">Поменять аватар</span>
  </label>
</fieldset>
