.input-file {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    display: none;
  }

  &__span {
    cursor: pointer;
    max-width: 122px;
    display: inline-block;
    font-size: 12px;
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin-bottom: 45px;
  }

  &__span:hover {
    opacity: 0.8;
  }
}
