---
title: Мессенджер
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../components/chat/chat.css
  - ../components/search/search.css
  - ../components/listItem/listItem.css
  - ../components/avatar/avatar.css
  - ../components/menu/menu.css
  - ../components/burgerMenu/burgerMenu.css
---
{{!< chat}}

<div class="page">
  {{> chat/chat}}
</div>
