---
title: Редактировать профиль
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../components/editProfile/editProfile.css
  - ../components/inputProfile/inputProfile.css
  - ../components/btnBackProfile/btnBackProfile.css
  - ../components/btnProfile/btnProfile.css
  - ../components/editAvatar/editAvatar.css
---
{{!< profile}}

<div class="page">
  {{> editProfile/editProfile}}
</div>
