---
title: Вход
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../components/signin/signin.css
  - ../components/input/input.css
  - ../components/button/button.css
---
{{!< index}}

<div class="page">
  <main class="page__form">
  {{> signin/signin}}
  </main>
</div>
