---
title: Страница не найдена
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../components/error/error.css
---
{{!< base}}

<div class="page">
  {{> error/error statusCode="404" title="404" subtitle="Не туда попали"}}
</div>
