---
title: Профиль
css:
  - ../vendor/normalize.css
  - ../vendor/fonts.css
  - ../variables/variables.css
  - ../styles/styles.css
  - ../components/profile/profile.css
  - ../components/inputProfile/inputProfile.css
  - ../components/btnBackProfile/btnBackProfile.css
  - ../components/btnProfile/btnProfile.css
  - ../components/editAvatar/editAvatar.css
  - ../components/popup/popup.css
  - ../components/input/input.css
  - ../components/button/button.css
  - ../components/inputFile/inputFile.css
---
{{!< profile}}

<div class="page">
  {{> profile/profile}}
</div>
