<li class="profile-btn">
  <a href="{{href}}" class="profile-btn__link" type="submit" aria-label="Вернуться назад">
    <img
      class="profile__icon"
      src="../image/left-arrow.svg"
      alt="Иконка вернуться назад"
    />
  </a>
</li>
