.profile-btn {
  list-style: none;
  background-color: var(--color-bg-list);
  border-right: 1px solid var(--color-line);
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border: none;
    padding: 0;
    border-radius: 50%;
    min-width: 28px;
    height: 28px;
    transition: 0.3s opacity;
  }

  &__link:hover {
    opacity: 0.8;
  }
}
