<ul class="edit-profile">
  {{> btnBackProfile/btnBackProfile href="./profile.hbs"}}
  <li class="edit-profile__column">
    <form class="edit-profile__form">
      {{> editAvatar/editAvatar}}
      <ul class="edit-profile__list">
        {{> inputProfile/inputProfile type="email" helperText="Почта" value=profile.payload.email}}
        {{> inputProfile/inputProfile type="text" helperText="Логин" value=profile.payload.name}}
        {{> inputProfile/inputProfile type="text" helperText="Имя" value=profile.payload.name}}
        {{> inputProfile/inputProfile type="text" helperText="Фамилия" value=profile.payload.lastName}}
        {{> inputProfile/inputProfile type="text" helperText="Имя в чате" value=profile.payload.chatName}}
        {{> inputProfile/inputProfile type="phone" helperText="Телефон" value=profile.payload.phone}}
        {{> button/button typeBtn="submit" textBtn="Сохранить" classes="button_page_edit-profile"}}
      </ul>
    </form>
  </li>
</ul>
{{> popup/popup title="Загрузите файл" textBtn="Поменять" classesPopup="popup_change-avatar" isDefault=false}}
