<ul class="edit-profile">
  {{> btnBackProfile/btnBackProfile href="./profile.hbs"}}
  <li class="edit-profile__column">
    <form class="edit-profile__form">
      {{> editAvatar/editAvatar}}
      <ul class="edit-profile__list">
        {{> inputProfile/inputProfile helperText="Почта" value=profile.payload.email}}
        {{> inputProfile/inputProfile helperText="Логин" value=profile.payload.name}}
        {{> inputProfile/inputProfile helperText="Имя" value=profile.payload.name}}
        {{> inputProfile/inputProfile helperText="Фамилия" value=profile.payload.lastName}}
        {{> inputProfile/inputProfile helperText="Имя в чате" value=profile.payload.chatName}}
        {{> inputProfile/inputProfile helperText="Телефон" value=profile.payload.phone}}
      </ul>
    </form>
  </li>
</ul>
