<form class="search page__search">
  <label class="search__label">
    <img class="search__img" src="../image/search.svg" alt="Поиск по чату" />
    <input class="search__input" type="text" placeholder="Поиск" />
  </label>
</form>
