.search {
  font-family: inherit;

  &__label {
    position: relative;
    display: block;
  }

  &__img {
    cursor: text;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translateY(-50%);
  }

  &__input {
    box-sizing: border-box;
    outline: none;
    border-color: transparent;
    border-width: 1px;
    width: 100%;
    font-size: 12px;
    color: var(--color-primaty);
    font-weight: 500;
    line-height: 12px;
    padding: 9px;
    background-color: var(--color-light-grey);
    border-radius: 5px;
    transition: 0.3s border-color;
  }

  &__input:hover {
    border-color: var(--color-grey);
  }

  &__input:focus {
    border-color: var(--color-grey);
  }

  &__input::placeholder {
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 500;
    line-height: 12px;
    text-align: center;
  }
}
