<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
    {{#each css}}
      <link rel="stylesheet" href="../styles/{{this}}">
    {{/each}}
  <title>
    {{> title}}
  </title>
</head>
<body>
  {{{body}}}
</body>
</html>
