<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{#each css}}
    <link rel="stylesheet" href="../styles/{{this}}">
  {{/each}}
  <title>
    {{> title/title}}
  </title>
</head>
<body>
  {{{body}}}
  <script src="../utils/constants.js"></script>
  <script src="../utils/classes/FormValidator.js"></script>
  <script src="../utils/classes/Input.js"></script>
  <script src="../utils/signin.js"></script>
</body>
</html>
