.chat-footer {
  padding-top: 11px;
  border-top: 1px solid var(--color-line);

  &__form {
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    box-sizing: border-box;
    border-color: transparent;
    outline: none;
    border-width: 1px;
    font-size: 12px;
    width: 100%;
    color: var(--color-primaty);
    font-weight: 500;
    line-height: 12px;
    padding: 10px 20px;
    background-color: var(--color-light-grey);
    border-radius: 30px;
    margin: 0 10px;
    transition: 0.3s border-color;
  }

  &__input:hover {
    border-color: var(--color-grey);
  }

  &__input:focus {
    border-color: var(--color-grey);
  }

  &__input::placeholder {
    font-size: 12px;
    color: var(--color-grey);
    font-weight: 500;
    line-height: 12px;
  }

  &__btn-attach {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    transition: 0.3s opacity;
  }

  &__btn-attach:hover {
    opacity: 0.8;
  }

  &__btn-send {
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--color-secondary);
    border: none;
    padding: 0;
    border-radius: 50%;
    min-width: 28px;
    height: 28px;
    transition: 0.3s opacity;
  }

  &__btn-send:hover {
    opacity: 0.8;
  }

  &__icon-attach {
    width: 32px;
  }
}
