.edit-profile {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 64px 1fr;

  &__column {
    list-style: none;
  }

  &__icon {
  }

  &__form {
    font-family: inherit;
    text-align: center;
    margin-top: 60px;
    max-width: 510px;
    margin: 60px auto 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  &__list:last-of-type {
    margin-bottom: 0;
  }
}
