<form class="signin">
  <h1 class="signin__title">Вход</h1>
  {{>input/input text="Логин"}}
  {{>input/input text="Пароль"}}
  <button class="signin__btn">Авторизоваться</button>
  <a class="signin__link" href="/">Нет аккаунта?</a>
</form>
