<form class="signin">
  <h1 class="signin__title">Вход</h1>
  <fieldset class="signin__group">
    <input class="signin__input" type="text" required id="inputField" />
    <label class="signin__label" for="inputField">Логин</label>
  </fieldset>
  <fieldset class="signin__group">
    <input class="signin__input" type="text" required id="inputField" />
    <label class="signin__label" for="inputField">Пароль</label>
  </fieldset>
  <button class="signin__btn">Авторизоваться</button>
  <a class="signin__link" href="/">Нет аккаунта?</a>
</form>
